<div class="container">
  <nav aria-label="breadcrumb" style="background-color: white;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">VShop</a></li>
      <li class="breadcrumb-item active" aria-current="page">Đơn mua</li>
    </ol>
  </nav>
  <div class="mb-2">
    <select class="custom-select" id="state">
      <option selected value="all">Tất cả đơn</option>
      <option value="0">Chờ xác nhận</option>
      <option value="1">Đang giao</option>
      <option value="2">Giao thành công</option>
      <option value="3">Đã hủy</option>
    </select>
  </div>
  <div id="ordered_list">
  </div>
</div>
</div>
<script src="/js/user_ordered.js"></script>