<div class="container">
  <nav aria-label="breadcrumb" style="background-color: white;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">VShop</a></li>
      <li class="breadcrumb-item"><a href="/post">Bài viết</a></li>
      <li class="breadcrumb-item active" aria-current="page">Chi tiết</li>
    </ol>
  </nav>
  <div id="post">
    <h4 id="post_title"></h4>
    <div class="d-flex justify-content-between">
      <p id="post_author"></p>
      <p id="post_time"></p>
    </div>
    <hr class="mt-1">
    <div id="post_content"></div>
    <hr>
    <div id="post_recent">
      <ul>Bài viết gần đây:
        <div id="recent_item">

        </div>
      </ul>
    </div>
  </div>
</div>

<script src="/js/postDetail.js"></script>