<div class="container">
  <nav aria-label="breadcrumb" style="background-color: white;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">VShop</a></li>
      <li class="breadcrumb-item active" aria-current="page">Bài viết</li>
    </ol>
  </nav>
  <div class="row" id="postItems">

  </div>
  <div id="pagin"></div>
</div>

<script src="/js/user_post.js"></script>