<div class="container">
  <nav aria-label="breadcrumb" style="background-color: white;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">VShop</a></li>
      <li class="breadcrumb-item active" aria-current="page">Tìm kiếm</li>
    </ol>
  </nav>
  <div id="show_product" class="row mb-5"></div>
  <div id="pagin"></div>
</div>
<script src="/js/search.js"></script>