<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
              <div class="page-block">
                <div class="row align-items-center">
                  <div class="col-md-12">
                    <div class="page-header-title">
                      <h5 class="m-b-10">Thêm sản phẩm</h5>
                    </div>
                    <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                      <li class="breadcrumb-item"><a href="#!">Form Components</a></li>
                      <li class="breadcrumb-item"><a href="#!">Form Elements</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <form action="/admin/product/add/" id="add_prdForm" method="POST" enctype='multipart/form-data'>
              <div class="row">
                <!-- [ form-element ] start -->
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-10">
                          <h5>Điền đầy đủ thông tin</h5>
                        </div>
                        <div class="col-2 d-flex justify-content-end">
                          <select style="width: 200px;" class="form-control" id="prd_isTrending" name="prd_isTrending">
                            <option value="0">Không HOT</option>
                            <option value="1">Đang HOT</option>
                          </select>
                        </div>
                      </div>
                      <hr>
                      <label style="color: black;font-size:16px;">
                        * Thông tin mặt hàng:
                      </label>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="prd_name">
                              1.Tên sản phẩm:
                            </label>
                            <input required type="text" class="form-control" id="prd_name" name="prd_name"
                              placeholder="Nhập tên sản phẩm">
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="prd_quantity">
                                  2.Số lượng:
                                </label>
                                <input required type="number" min="0" value="0" class="form-control" id="prd_quantity"
                                  name="prd_quantity" placeholder="Nhập số lượng sản phẩm">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="prd_price">
                                  3.Giá sản phẩm:
                                </label>
                                <input required type="number" min="0" value="0" class="form-control" id="prd_price"
                                  placeholder="Nhập giá sản phẩm" name="prd_price">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="prd_brand">
                              4.Thương hiệu:
                            </label>
                            <select required class="form-control" data-live-search="true" id="prd_brand"
                              name="prd_brand">
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="prd_cate">
                              5.Danh mục:
                            </label>
                            <select required class="form-control" data-live-search="true" id="prd_cate" name="prd_cate">
                            </select>
                          </div>
                        </div>
                        <div class="col-12">
                          <hr>
                          <label style="color: black;font-size:16px;">
                            * Chọn ảnh sản phẩm:
                          </label>
                          <div class="row">
                            <div class="col-md-6 col-lg-3">
                              <div class="form-group mb-3">
                                <label for="prd_stImg">
                                  6.1 Ảnh đại diện:
                                </label>
                                <input required type="file" class="form-control-file " id="prd_stImg" name="prd_stImg"
                                  accept="image/*">
                              </div>
                              <div id="img_preview1" class="mb-3">
                                <img alt="" id="img_preview-img1" style="object-fit: cover;height:100px;width:100px;">
                              </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                              <div class="form-group mb-3">
                                <label for="prd_scImg">
                                  6.2 Ảnh liên quan 1:
                                </label>
                                <input required type="file" class="form-control-file " id="prd_scImg" name="prd_scImg"
                                  accept="image/*">
                              </div>
                              <div id="img_preview2" class="mb-3">
                                <img alt="" id="img_preview-img2" style="object-fit: cover;height:100px;width:100px;">
                              </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                              <div class="form-group mb-3">
                                <label for="prd_rdImg">
                                  6.3 Ảnh liên quan 2:
                                </label>
                                <input required type="file" class="form-control-file " id="prd_rdImg" name="prd_rdImg"
                                  accept="image/*">
                              </div>
                              <div id="img_preview3" class="mb-3">
                                <img alt="" id="img_preview-img3" style="object-fit: cover;height:100px;width:100px;">
                              </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                              <div class="form-group mb-3">
                                <label for="prd_thImg">
                                  6.4 Ảnh liên quan 3:
                                </label>
                                <input required type="file" class="form-control-file " id="prd_thImg" name="prd_thImg"
                                  accept="image/*">
                              </div>
                              <div id="img_preview4" class="mb-3">
                                <img alt="" id="img_preview-img4" style="object-fit: cover;height:100px;width:100px;">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <hr>
                          <label style="color: black;font-size:16px;">
                            * Cấu hình sản phẩm:
                          </label>
                          <div class="row">
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="prd_chip">
                                  7.1 Chip xử lí:
                                </label>
                                <input type="text" class="form-control" id="prd_chip"
                                  placeholder="Nhập tên Chip xử lý (CPU)" name="prd_chip">
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="prd_ram">
                                  7.2 Thông số RAM:
                                </label>
                                <input type="text" class="form-control" id="prd_ram" placeholder="Nhập thông số RAM"
                                  name="prd_ram">
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="prd_rom">
                                  7.3 Bộ nhớ trong:
                                </label>
                                <input type="text" class="form-control" id="prd_rom"
                                  placeholder="Nhập thông tin bộ nhớ trong" name="prd_rom">
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="prd_display">
                                  7.4 Màn hình:
                                </label>
                                <input type="text" class="form-control" id="prd_display"
                                  placeholder="Nhập kích thước, công nghệ màn hình" name="prd_display">
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="prd_os">
                                  7.5 Hệ điều hành:
                                </label>
                                <input type="text" class="form-control" id="prd_os" placeholder="Nhập tên HĐH"
                                  name="prd_os">
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="prd_camera">
                                  7.6 Thông số camera:
                                </label>
                                <input type="text" class="form-control" id="prd_camera"
                                  placeholder="Nhập thông số camera" name="prd_camera">
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="prd_battery">
                                  7.7 Thông số Pin (mAH):
                                </label>
                                <input type="text" class="form-control" id="prd_battery" placeholder="Nhập thông số Pin"
                                  name="prd_battery">
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="prd_gcard">
                                  7.8 Card đồ họa:
                                </label>
                                <input type="text" class="form-control" id="prd_gcard"
                                  placeholder="Nhập tên Card đồ họa" name="prd_gcard">
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="prd_weight">
                                  7.9 Trọng lượng (kg):
                                </label>
                                <input type="number" step="0.1" class="form-control" id="prd_weight"
                                  placeholder="Nhập trọng lượng sản phẩm" name="prd_weight">
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="prd_size">
                                  7.10 Kích thước:
                                </label>
                                <input type="text" class="form-control" id="prd_size"
                                  placeholder="Nhập kích thước sản phẩm" name="prd_size">
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="prd_date">
                                  7.11 Năm sản suất:
                                </label>
                                <input type="number" class="form-control" id="prd_date" placeholder="Nhập năm sản xuất"
                                  name="prd_date">
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="prd_material">
                                  7.12 Chất liệu:
                                </label>
                                <input type="text" class="form-control" id="prd_material"
                                  placeholder="Nhập chất liệu sản phẩm" name="prd_material">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label for="prd_desc">
                              8.Mô tả sản phẩm:
                            </label>
                            <textarea class="form-control" name="prd_desc" id="prd_desc" rows="3"></textarea>
                          </div>
                        </div>
                        <div>
                          <button type="submit" id="add_btn" class="mt-3 ml-3 btn btn-primary">Thêm</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- [ form-element ] end -->
                <!-- [ Main Content ] end -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/31.0.0/classic/ckeditor.js"></script>
<script src="/js/addNew.js"></script>