<section class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
              <div class="page-block">
                <div class="row align-items-center">
                  <div class="col-md-12">
                    <div class="page-header-title">
                      <h5 class="m-b-10">Quản lý tài khoản</h5>
                    </div>
                    <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                      <li class="breadcrumb-item"><a href="#!">Bootstrap Table</a></li>
                      <li class="breadcrumb-item"><a href="#!">Basic Tables</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
              <!-- [ stiped-table ] start -->
              <div class="col-xl-12">
                <div class="card">
                  <div class="card-header">
                    <h5>Tất cả tài khoản</h5>
                  </div>
                  <form action="">
                    <div class="row px-4 mt-4">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="search_name">
                            Tên tài khoản:
                          </label>
                          <input type="text" class="form-control" id="search_name" name="search_name"
                            placeholder="Nhập tên tài khoản">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="userperm">
                            Cấp
                          </label>
                          <select class="form-control" id="userperm" data-live-search="true" name="userperm">
                            <option value="all">Tất cả</option>
                            <option value="1">Admin</option>
                            <option value="2">Nhân viên</option>
                            <option value="3">Khách hàng</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-12 text-right">
                        <button class="btn btn-primary m-0" id="filter_btn" type="submit">Lọc tài khoản</button>
                      </div>
                    </div>
                  </form>
                  <div class="card-body table-border-style">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Tên tài khoản</th>
                            <th>Cấp</th>
                            <th>Thời gian đăng ký</th>
                            <th>Hành động</th>
                          </tr>
                        </thead>
                        <tbody id="user_show">
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div id="pagin"></div>
                </div>
              </div>
              <!-- [ stiped-table ] end -->
            </div>
            <!-- [ Main Content ] end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/user.js"></script>