<nav class="pcoded-navbar menupos-fixed menu-light brand-blue ">
  <div class="navbar-wrapper ">
    <div class="navbar-brand header-logo">
      <a href="/admin/" class="b-brand">
        <img src="/assets/images/logo.svg" alt="" class="logo images">
        <img src="/assets/images/logo-icon.svg" alt="" class="logo-thumb images">
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
    </div>
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption">
          <label>Navigation</label>
        </li>
        <li class="nav-item">
          <a href="/admin/" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
              class="pcoded-mtext">Dashboard</span></a>
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>Forms &amp; table</label>
        </li>
        <li class="nav-item pcoded-hasmenu">
          <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span
              class="pcoded-mtext">Quản lý sản phẩm</span></a>
          <ul class="pcoded-submenu">
            <li class=""><a href="/admin/product/" class="">Tất cả sản phẩm</a></li>
            <li class=""><a href="/admin/product/add/" class="">Thêm sản phẩm</a></li>
            <li class=""><a href="/admin/product/catebrand/" class="">Danh mục, thương hiệu</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="/admin/post" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span
              class="pcoded-mtext">Quản lí bài đăng</span></a>
        </li>
        <li class="nav-item">
          <a href="/admin/user" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span
              class="pcoded-mtext">Quản lí tài khoản</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>